
module gssproxy-slapd 1.0;

require {
	type slapd_t;
	type gssproxy_t;
	type gssproxy_var_lib_t;
	class sock_file write;
	class unix_stream_socket connectto;
	class dir search;
}

#============= slapd_t ==============

allow slapd_t gssproxy_t:unix_stream_socket connectto;
allow slapd_t gssproxy_var_lib_t:dir search;
allow slapd_t gssproxy_var_lib_t:sock_file write;
